---
title: Circle Animation
---

<div class="container container--main">
  <div class="header">
    <div class="container">
      <h1 class="header__title">Circles Test</h1>
    </div>
  </div>
  <div class="circles">
    <%= partial "partials/circle", :locals => { :x => 100, :y => 100, :s => 1.5 } %>
    <%= partial "partials/circle", :locals => { :x => 300, :y => 100, :s => 0.75 } %>
    <%= partial "partials/circle", :locals => { :x => 500, :y => 100, :s => 0.8 } %>
    <%= partial "partials/circle", :locals => { :x => 700, :y => 100, :s => 0.75 } %>
    <%= partial "partials/circle", :locals => { :x => 900, :y => 100, :s => 1.0 } %>
    <%= partial "partials/circle", :locals => { :x => 1100, :y => 100, :s => 0.75 } %>
    <%= partial "partials/circle", :locals => { :x => 1300, :y => 100, :s => 0.9 } %>
    <%= partial "partials/circle", :locals => { :x => 1500, :y => 100, :s => 1.0 } %>
    <%= partial "partials/circle", :locals => { :x => 1700, :y => 100, :s => 1.0 } %>
    <%= partial "partials/circle", :locals => { :x => 0, :y => 300, :s => 0.5 } %>
    <%= partial "partials/circle", :locals => { :x => 200, :y => 300, :s => 0.5 } %>
    <%= partial "partials/circle", :locals => { :x => 400, :y => 300, :s => 1.0 } %>
    <%= partial "partials/circle", :locals => { :x => 600, :y => 300, :s => 0.7 } %>
    <%= partial "partials/circle", :locals => { :x => 800, :y => 300, :s => 1.0 } %>
    <%= partial "partials/circle", :locals => { :x => 1000, :y => 300, :s => 0.8 } %>
    <%= partial "partials/circle", :locals => { :x => 1200, :y => 300, :s => 1.0 } %>
    <%= partial "partials/circle", :locals => { :x => 1400, :y => 300, :s => 0.6 } %>
    <%= partial "partials/circle", :locals => { :x => 1600, :y => 300, :s => 1.0 } %>
  </div>
</div>
